.card {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-color-6);
    border-radius: 1.2rem;

    color: var(--neutral-color-5);
    min-width: 24rem;
    width: 90vw;
    min-height: 33.2rem;
}

.card:hover {
    opacity: 0.8;
    cursor: default;
}

/* Styles for tablet size */
@media (width >= 768px) {
    .card {
        width: 35.1rem;
        width: 35.1rem;
        min-width: 32rem;
        max-width: 36.3rem;
        min-height: 31.4rem;
        min-height: 31.4rem;
    }

    .card.single-column {
        min-width: 69.7rem;
    }
}

/* Styles for desktop size */
@media (width >= 1200px) {
    .card {
        width: 36.3rem;
        min-width: 32rem;
        max-width: 36.3rem;
        min-height: 31.4rem;
    }
}
