.card {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    border-radius: 1.2rem;

    color: #fff;
    min-width: 24rem;
    width: 90vw;
    min-height: 33.2rem;
}

/* Styles for tablet size */
@media (width >= 768px) {
    .card {
        width: 45.7vw;
        min-width: 32rem;
        max-width: 36.3rem;
        min-height: 32rem;
    }

    .card.single-column {
        min-width: 69.7rem;
    }
}

/* Styles for desktop size */
@media (width >= 1200px) {
}
