.card__game-details-atributes-name {
    margin-right: 0.8rem;
    line-height: 1.2;
    color: #939393;
}

.card__game-details-atributes-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    justify-content: right;
}

/* Styles for tablet size */
@media (width >= 768px) {
    .card__game-details-atributes-name {
        width: 10.6rem;
    }

    .card__game-details-atributes-value {
        justify-content: left;
    }
}

/* Styles for desktop size */
@media (width >= 1200px) {
}
