.card__game-details-atributes-name {
    margin-right: 0.8rem;
    line-height: 1.2;
    color: #939393;
}

.card__game-details-atributes-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    justify-content: right;
}
