.card__background-image {
    display: flex;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 11.90688rem;
    border-radius: 0.75rem 0.75rem 0 0;
}

.card__like-icon {
    position: absolute;
    top: 0.44rem;
    right: 0.31rem;
}
