.gameImage {
    display: flex;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 179px;
    border-radius: 12px 12px 0px 0px;

    .likeIcon {
        position: absolute;
        top: 17.5px;
        right: 17px;
    }
}
