.form {
    /* Form styles */
    display: flex;
    flex-direction: column;
}

.form__input {
    /* Styles for input elements */
    border-radius: 4px;
    width: 100%;
    padding: 1.3rem 1.28rem;
    border: none;
    color: #3d3d3d;
    font-size: 1.4rem;
}

.form__input.invalid {
    /* Styles for invalid inputs */
    outline: 1px solid #ff0000;
}

.form__input:focus-visible {
    /* Styles for selected inputs */
    outline: 1px solid var(--primary-color-1);
}

.form__input.invalid:focus-visible {
    /* Styles for selected invalid inputs */
    outline: 1px solid #bf0000;
}

.form__feedback {
    /* Styles for feedback elements */
    color: #ff0000;
    font-size: 1.4rem;
    margin-top: 0.64rem;
}

.form__password-container {
    /* Styles for the password container */
    position: relative;
    margin-top: 1.6rem;
    margin-bottom: 0.2rem;
}

.form__password-icon {
    /* Styles for the password icon */
    position: absolute;
    width: 2.4rem;
    top: 49%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 0.8rem;
}

.form__password-details-container {
    /* Styles for the password details container */
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.3rem;
    margin-bottom: 3rem;
}

.form__checkbox {
    /* Styles for checkboxes */
    display: none;
}

.form__checkbox-label {
    /* Styles for checkbox labels */
    display: flex;
    align-items: center;
}

.form__checkbox-icon {
    /* Styles for checkbox icons */
    display: block;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.form__checkbox-icon--on {
    /* Styles for checkbox checked icon */
    display: none;
}
