.games-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 1.6rem;
}

/* Styles for tablet size */
@media (width >= 768px) {
    .games-container {
        flex-direction: row;
        row-gap: 2.4rem;
        column-gap: 1.8rem;
    }

    .games-container.single-column {
        row-gap: 5.4rem;
    }
}

/* Styles for desktop size */
@media (width >= 1200px) {
    .games-container {
        column-gap: 2.4rem;
    }

    .games-container.single-column {
        row-gap: 4.6rem;
    }
}
