@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');

body {
    background-color: var(--neutral-color-1);
    color: var(--neutral-color-5);
}

.active-page {
    color: var(--primary-color-1);
}

/* Navbar menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-color-2);
    height: 3.125rem;
    margin-bottom: 1.35rem;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 1.2rem;
    border: 0;
    background: transparent;
    gap: 0.25rem;
    cursor: pointer;
}

.hamburger-menu div {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 0.3rem;
    transition: all 0.5s;
    transform-origin: left;
}

#searchIconMobile {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.search-bar {
    display: none;
}

#logoutBtn {
    display: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

/* Main content */
main {
    padding: 0 1rem 1.625rem 1rem;
}

main .tablet {
    display: none;
}
/* Header.module.css 

Hacerlo mobile first teniendo en cuenta befedamobile*/

/* Header Block */
.header {
    background-color: #1b1b1b;
    padding: 0.125rem;
    color: #fff;
    margin-top : -27rem;
}

/* Container Element within Header Block */
.header__container {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
}

/* Logo Element within Header Block */
.header__logo {
    width: 6.4rem;
    margin-right: 0.7rem;
}

.header__logo img {
    height: auto;
    width: 100%;
}

/* Styleicons Element within Header Block */
.header__style-icons {
    cursor: pointer;
}

/* Search Block */
.header__search {
    display: flex;
    gap: 0.3125rem;
    width: 6.875rem;
    height: 2.4375rem;
    right: 79.375%;
    top: 1.25rem;
    text-align: right;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    word-wrap: break-word;
}

/* User Profile Image within Search Block */
.header__user-profile img {
    border-radius: 100%;
}

/* User Block within Search Block */
.header__user-block {
    text-align: right;
}

/* Button Element */
.button {
    background-color: #000;
    color: #fff;
    padding: 0.625rem;
    border: none;
    cursor: pointer;
}

/* Active Icons Block */
.active-icons {
    display: flex;
    margin: 1.25rem;
    gap: 1.875rem;
}

/* Navigation Block */
.nav {
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 100%;
    position: relative;
    top: 6.25rem;
    left: 0;
    background-color: #0000;
    padding: 0 0.625rem;
}

/* Navigation Icon Element */
.nav__icon {
    fill: #bf5fe1;
}