@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

body {
    margin: 0;
    line-height: normal;
    min-height: 100vh;
}

:root {
  --font-archivo: Archivo;
  --font-exo: Exo;

  --font-size-mini-7: 0.92rem;
  --font-size-sm-3: 0.83rem;
  --font-size-mini: 0.94rem;

  --white: #fff;
  --light-violet: #bf5fe1;
  --color-dimgray: #515151;
}

@media (min-width: 1024px) {

  .nav-item, .nav-item-with-icon {
      margin: 1.5rem 0;
      display: flex;
      align-items: center;
      font-size: var(--font-size-mini);
      text-decoration: none;
  }

  .nav-item-with-icon img {
      margin-right: 0.5rem;
      height: 1.2rem;
      width: 1.2rem;
  }

  .sidebar {
    width: 18rem;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .close-icon, .avatar, .title, .dark-mode-icon, .logout, .line-div{
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px; /* Base para las unidades rem. 1rem = 16px */
  }
  .hamburger-menu{
    color: var(--white);
  }

  .sidebar {
    background-color: #2a2a2a;
    overflow-y: auto;
    font-family: var(--font-exo);
    color: var(--white);
    padding: 0.625rem; 
    min-height: 100vh;
  }

  .close-icon {
    position: absolute;
    top: 0.625rem; 
    right: 0.625rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem; 
  }
  
  .avatar {
    width: 2.5rem; 
    height: 2.5rem;
    margin-right: 0.625rem; 
  }
  
  .title h2 {
    font-size: 1.125rem; 
    font-weight: 600;
    margin: 0;
  }
  
  .title p {
    font-size: 0.875rem; 
    margin: 0.25rem 0 0; 
  }
  
  .line-div {
    width: 20rem; 
    height: 0.0625rem; 
    background-color: #515151;
    margin: 1.25rem -1rem; 
  }
  
  .nav-item {
    font-size: 0.9375rem; 
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-bottom: 0.9375rem; 
  }

  .nav-item:hover{
    color: var(--light-violet);
  }
  
  .nav-item-with-icon {
    display: flex;
    align-items: center;
    font-size: 0.8125rem; 
    margin-bottom: 0.625rem;
  }
  
  .nav-item-with-icon img {
    width: 1.25rem;
    height: 1.25rem; 
    margin-right: 0.625rem; 
  }
  
  .nav-section-title {
    font-weight: 600;
    font-size: 0.9375rem; 
    margin: 1.25rem 0 0.625rem; 
  }

  .dark-mode-icon {
    margin-left: 5.515rem ;
    margin-top: -1.6875rem;
    width: 2.56rem ;    /* Ajusta este valor para el ancho deseado */
    height: 1.56rem;        /* Ajusta este valor para la altura deseada */
  }
  
  .logout, .nav-item-with-icon span {
    font-size: 0.9375rem; 
    margin-bottom: 0.625rem;
  }
}

/* Estilos para tablets */
@media (min-width: 768px){
  html {
    font-size: 16px; 
  }
  
  .hamburger-menu{
    color: var(--white);
  }

  .sidebar {
    background-color: #2a2a2a;
    overflow-y: auto;
    font-family: var(--font-exo);
    color: var(--white);
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
  }

  .main-content {
    flex: 1; /* Toma todo el espacio disponible */
  }

  .close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .avatar {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  
  .title h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
  
  .title p {
    font-size: 1rem;
    margin: 0.5rem 0 0;
  }
  
  .line-div {
    width: 100%;
    height: 0.125rem;
    background-color: #515151;
    margin: 1.5rem 0;
  }
  
  .nav-item {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
  }

  .nav-item:hover {
    color: var(--light-violet);
  }
  
  .nav-item-with-icon {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .nav-item-with-icon img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
  }
  
  .nav-section-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1.5rem 0 1rem;
  }

  .dark-mode-icon {
    margin-left: 7rem;
    margin-top: -1.8rem;
    width: 3.5rem;
  }
  
  .logout, .nav-item-with-icon span {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}