.nav {
    min-width: 160px;
    font-size: 20px;
  }
  
  .last-search-selected {
    font-weight: bold;
  }
  
  .links-navbar {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 14px;
  }
  
  .links-time {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    gap: 16px;
  }
  
  .links-popular {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  
  .links-home, .links-dark, .links-time a {
    color: #BF5FE1;
    text-decoration: none;
  }
  
  .links-dark, .links-time a {
    color: #FFF;
  }
  
  .links-popular2, .links-time2 {
    display: flex;
    gap: 11px;
  }
  
  .links-popular2 {
    margin-bottom: 10px;
  }
  
  .links-popular h2 {
    margin-bottom: 18px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
  }

  .hamburger-menu {
    display: block;
}
.sidebar.open {
    display: block;
}

  /* Estilos por defecto para mobile */
.sidebar {
    display: none;
    /* otros estilos para el sidebar */
}

/* Estilos para tablet y desktop */
@media (min-width: 768px) { /* Tablet y hacia arriba */
    .sidebar {
        display: block;
    }
}

@media (min-width: 1024px) { /* Desktop y hacia arriba */
    .sidebar {
        display: block;
    }
}
