.hamburger-menu-icon {
    display: flex;
    flex-direction: column;
    width: 1.8rem;
    height: 1.4rem;
    gap: 0.4rem;
}

.hamburger-menu-icon div {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 0.5rem;
    transition: 0.5s all;
    transform-origin: left;
}

.hamburger-menu-icon--open {
    position: absolute;
    height: 1.8rem;
    right: 1.6rem;
    top: 1.6rem;
    gap: 0.45rem;
    z-index: 2;

    & > div:first-child {
        transform: rotate(45deg);
    }

    & > div:nth-child(2) {
        opacity: 0;
    }

    & > div:last-child {
        transform: rotate(-45deg);
    }
}

@media (width >= 768px) {
    .hamburger-menu-icon {
        width: 2.1rem;
        height: 1.7rem;
    }

    .hamburger-menu-icon--open {
        right: 2.3rem;
        top: 2.3rem;
        gap: 0.6rem;
    }
}
