/* The switch - the box around the slider */
.switch {
    display: inline-block;
    position: relative;
    width: 4.4rem;
    height: 2.2rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e1e4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 02px;
    background-color: var(--neutral-color-5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #5f81fb;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5f81fb;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    font-size: 10px;
}

.slider.round::after {
    display: block;
    position: absolute;
    content: 'OFF';
    color: #939393;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    font-size: 8px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider.slider.round::after {
    content: 'ON';
    left: 32%;
    color: var(--neutral-color-5);
}
